<!DOCTYPE html>
<html lang="en">
{{> head }}
<body>
    
    {{> navbar }}
    
    <section>
        <div class="container mt-3">
            <form action="/clientes/update" method="post">
                <div class="mb-3">
                    <label for="id" class="form-label">Ingresa el id</label>
                    <input type="text" class="form-control" id="id" name="id" value="{{respuesta.datos.id}}" readonly>
                </div>
                <div class="mb-3">
                    <label for="rut" class="form-label">Ingresa el rut</label>
                    <input type="text" class="form-control" id="rut" name="rut" value="{{respuesta.datos.rut}}" readonly>
                </div>
                <div class="mb-3">
                    <label for="nombre" class="form-label">Ingresa el nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" value="{{respuesta.datos.nombre}}">
                </div>
                <div class="mb-3">
                    <label for="apellido" class="form-label">Ingresa el apellido</label>
                    <input type="text" class="form-control" id="apellido" name="apellido" value="{{respuesta.datos.apellido}}">
                </div>
                <div class="mb-3">
                    <label for="correo" class="form-label">Ingresa el correo</label>
                    <input type="text" class="form-control" id="correo" name="correo" value="{{respuesta.datos.correo}}">
                </div>
                <button type="submit" class="btn btn-primary">Actualizar</button>
            </form>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>